<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
        <a class="navbar-brand" href="/"><img class="d-inline-block align-middle" src="/img/logos/farmingdatalogo-icon.png" alt=""></a>
        <a>
            <h1 class="navbar-brand-name" style="font-weight:normal; font-family:'Tulpen One', 'Helvetica Neue', Helvetica, Arial, cursive; padding-top:10px; padding-right:10px">
            <div class="navbar-left">Farming Data</div></h1></a>
    <button class="navbar-toggler navbar-toggler-right btn-primary" style="background:#00897b" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto" style="text-align: right">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/#why">Why?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/#portfolio">How it works</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/#services">Pre-register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/#about">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/posts">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/#contact">Contact</a>
        </li>
      </ul>
    </div>
    <!--a class="navbar-brand js-scroll-trigger" href="#page-top">Farming Data</a-->
    <!--<a class="navbar-brand js-scroll-trigger" href="#page-top"><img class="image-responsive" src="img/logos/farmingdatalogo-tall.png"/>
    </a> -->
    <!--button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"-->
  </div>
</nav>
